doctype html(lang='en')
html
  head
    meta(charset='UTF-8')
    title Social Login
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
  body(ng-app='socialLogin')
    div(ng-controller="navCtrl")
      button(ui-sref='home') home

      span(ng-if="!isAuthenticated()")
        button(ui-sref='login') login

      span(ng-if="isAuthenticated()")
        button(ui-sref='profile') profile
        button(ng-click='logout()') logout


    ui-view

    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/angular/angular.js')
    script(src='vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src='vendor/satellizer/satellizer.min.js')
    script(src='js/module.js')
    script(src='js/controllers/login.js')
    script(src='js/controllers/home.js')
    script(src='js/controllers/profile.js')
    script(src='js/controllers/nav.js')
    script(src='js/services/user.js')
